/* Object Styles */

body {
    background-color: rgb(52, 73, 94);
}

p,h1, h2, h3, h4, h5, h6, label {
    font-family: Lato, sans-serif;
    font-weight: 700;
}

label {
    font-size: 13pt;
}

p {
    font-weight: 400;
}

/* Class Styles */

.constrain-width {
    max-width: 750px;
}

.like-label {
    font-size: 13pt;
}

.like-header {
    margin-top: 20px;
    margin-bottom: 10px;
}

.std-col-width {
    /* min-width: 245px; */
}

.focus-box {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* ID Styles */

#activity-log-container {
    min-height: 64px;
}

#focus-update-container {
    max-height: 102px;
}